@import '../../vars.css';

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cartItem__image {
    height: 64px;
    border-radius: 0.5rem;
}

.name {
    color: var(--clr-second-black);
}

.total {
    color: var(--clr-second-black);
    opacity: 50%;
}



/* inc dec button */

.inputGroup {
    display: flex;
    align-items: center;
    
    margin: 1rem 0;
    
    /* max-width: fit-content; */
    background-color: var(--clr-dark-grey);
}

.numBtn {
    border: none;
    background-color: var(--clr-dark-grey);
    color: gray;
    margin: 0 15px;
}

input {
    border: none;
    height: 48px;
    background-color: var(--clr-dark-grey);
    width: 15px;
    
}