.buttonMain {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    height: 48px;
    width: 160px;
    background-color: var(--clr-dark-coral);
    color: var(--clr-white);
    border: none;
    cursor: pointer;
}

.buttonMain:hover
 {
  background-color: var(--clr-light-coral);
}

.buttonStretch {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  height: 48px;
  width: 100%;
  background-color: var(--clr-dark-coral);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
}

.buttonAlt {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  height: 48px;
  width: 160px;
  background-color: var(--clr-dark-grey);
  color: var(--clr-first-black);
  border: 1px solid var(--clr-first-black);
  cursor: pointer;
}

.buttonAlt:hover {
  color: var(--clr-dark-grey);
  background-color: var(--clr-second-black);
}

.buttonRev {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  height: 48px;
  width: 160px;
  background-color: var(--clr-second-black);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  z-index: 9998;
}

.buttonRev:hover {
  background-color: #4C4C4C;
}

