@import '../vars.css';

.checkoutBody {
    background-color: var(--clr-dark-grey);
}
.goBack {
    position: absolute;
    top: -45px;
    left: 0;
}

.checkout {
    display: flex;
    margin-top: 90px;
    padding-top: 80px;
    width: 100%;
    background-color: var(--clr-dark-grey);
}

.checkout__panel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
    background-color: var(--clr-white);
    border-radius: 0.5rem;
}

.checkout__inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-darker-grey)
}

.checkout__inputGroup--error input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-error-red)
}

.checkout__labelError {
    display: flex;
    justify-content: space-between;
}

.error {
    color: var(--clr-error-red)
}

.radial__field {
    display: flex;
    border: 1px solid var(--clr-darker-grey);
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

fieldset {
    border: 0;
    padding: 0;
    
}


.billing__formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shipping__formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment__formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.radioSet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {

    .goBack {
        position: absolute;
        top: -45px;
        left: 0;
    }
    
    .checkout {
        margin-top: 90px;
        padding-top: 100px;
    }

    .billing__formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .shipping__formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem 0;
    }

    .payment__formGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 1440px) {
   .checkout {
       flex-direction: row;
       justify-content: center;
   } 

   .goBack {
       top: -45px;
       left: 0;
   }

   .checkout__panel {
       position: relative;
   }

   .checkout__panel:nth-child(1){
       width: 550px;
   }

   .checkout__panel:nth-child(2) {
       align-self: flex-start;
   }
}  

