@import '../vars.css';

.checkout {
    display: flex;
    margin-top: 90px;
    height: 800px;
    width: 100%;
    background-color: var(--clr-white);
}

.checkout__inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-dark-coral)
}

