@import '../vars.css';

.checkout {
    display: flex;
    margin-top: 90px;
    width: 100%;
    background-color: var(--clr-dark-grey);
}

.checkout__panel {
    padding: 1.5rem;
    background-color: var(--clr-white);
}

.checkout__inputGroup input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-darker-grey)
}

.checkout__inputGroup--error input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-error-red)
}

.checkout__labelError {
    display: flex;
    justify-content: space-between;
}

.error {
    color: var(--clr-error-red)
}