

article {
    margin-top: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-self: center; */

    position: relative;
    width: 100%; 
    border: 1px black solid;
    padding: 0 1.5rem;
}




.headphones {
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.headphonesImage {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    padding: 0 30%;
}



.speakers {
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.speakersImage {
    position: absolute;
    bottom: 60%;
    left: 0;
    right: 0;
    padding: 20% 40% 0 40%;
}




.earphones {
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.earphonesCase {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35%;
    padding: 0 28%;
}