

.headphonesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding: 50px;
    background-color: var(--clr-second-black);
}



.product {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 75px;
}

.product img {
    border-radius: 0.5rem;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}


@media (min-width: 768px) {
    
}

@media (min-width: 1440px) {

    
}