@import '../vars.css';



.headerImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/home/mobile/image-header.jpg');
}

.headerImage__hide {
    /* overflow: hidden; */
    visibility: hidden;
}

.headerImage_content {
    position: absolute;
    top: 175px;
    padding: 1.5rem;
    gap: 1.5rem;
}







article {
    margin-top: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    /* border: 1px black solid; */
    padding: 0 1.5rem;
    margin-bottom: 9%;
}




.headphones {
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.headphonesImage {
    position: relative;
    z-index: 9998;
    bottom: 30%;
    height: 20vh;
}

.headphones h6 {
    position: absolute;
    bottom: 45px;
    z-index: 9998;
}

.headphones button {
    position: relative;
    bottom: 10px;
    z-index: 9998;
}


.speakers {
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.speakersImage {
    position: relative;
    z-index: 9998;
    bottom: 55%;
    height: 15vh;
}

.speakers h6 {
    position: absolute;
    bottom: 45px;
    z-index: 9998;
}

.speakers button {
    position: relative;
    bottom: 10px;
    z-index: 9998;
}




.earphones {
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
    height: 25vh;
    border-radius: 0.5rem;
}

.earphonesCase {
    position: relative;
    z-index: 9997;
    height: 20vh;
    bottom: 30%;
}

.earphones h6 {
    position: absolute;
    bottom: 45px;
    z-index: 9998;
}

.earphones button {
    position: relative;
    bottom: 10px;
    z-index: 9998;
}










.zx9Speaker {
    /* padding-top: 145px; */
    position: relative;
    overflow: hidden;
}

.zx9Speaker__content {
    gap: 1.5rem;
    padding: 3.5rem 1rem;
}

.zx9Speaker__image {
    /* position: relative;
    top: 100px; */
    height: 195px;
}

.circles {
    position: absolute;
    /* clip: rect(0, 100, 100, 0); */
    bottom: 160px;
    min-height: 550px;
    min-width: 550px;
}



.zx7Speaker {
    padding: 0 1.5rem;
    position: relative;
    /* bottom: 100px; */
}

.zx7Speaker img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

/* make this flex a utility class */
.zx7Speaker__content {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 235px;
    padding: 1.5rem;
    /* gap: 2rem; */
}


.zx7Speaker h4{
    /* position: relative; */
    /* top: 200px; */
    /* left: 45px; */
    /* padding: 1.5rem; */
}

.zx7Speaker Button{
    position: relative;
    top: 40px;
}


.yx1earphones {
    position: relative;
    bottom: 100px;
    
}

.earphonesImage {
    padding: 0  1.5rem;
}

.earphonesImage img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

/* make these flex attributes a utility class */
.earphones__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3rem 1.5rem;
    /* margin-top: 3.4rem; */
}



.bestImage {
    padding: 1.5rem;
}

.bestImage img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

.bestImage__text {
    padding: 1.5rem;
    margin-bottom: 100px;
    gap: 2rem;
}

.wordPop {
    color: var(--clr-dark-coral)
}





@media (min-width: 768px) {
    .headerImage {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/home/tablet/image-header.jpg');
    }
}

@media (min-width: 1440px) {

}  




