
main {
    margin-top: 90px;
}

/* should this go with component? */
.amount {
    color: var(--clr-dark-coral);
    font-weight: var(--fw-bold);
    padding-right: 1.5rem;
}

.btnGroup {
    display: flex;
    gap: 1rem;
}

.alsoLike {
    gap: 2rem;
}