

.bestAudio {
    margin: 100px 0px;
}

.bestAudio__image img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

.bestAudio__text {
    padding: 1.5rem;
    gap: 2rem;
}

.wordPop {
    color: var(--clr-dark-coral)
}

 



@media (min-width: 768px) {


    .bestAudio__text {
        padding: 3rem 4rem;
        
    }

    
}

@media (min-width: 1440px) {
    .bestAudio {
        display: flex;
        flex-direction: row-reverse;
        gap: 120px;
    }

    .bestAudio__image {

    }

    .bestAudio__text {
        display: flex;
        align-items: flex-start;
        text-align: start;
        width: 500px;
        padding: 100px 0;
        
    }

} 