@import '../vars.css';



.navBar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 90px;
    background-color: var(--clr-first-black);
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navBar ul {
    display: none;
}


.dropdown {
    display: flex;
    justify-content: center;
    gap: 2rem;

    height: 100vh;
    position: fixed;
    z-index: 9998;
    top: 90px;
    background-color: var(--clr-white);
    width: 100%;
    overflow-y: scroll;
}

.dummyObject {
    height: 250px;
    width: 150px;

    background-color: var(--clr-dark-grey);
}



/* from catigories module */

.categories {
  /* margin-top: 40px; */
  height: 850px;
  width: 100%;
  padding: 4rem 1.5rem 1.5rem;
  /* overflow-y: scroll; */
}


.container {
   display: flex;
   flex-direction: column;
   width: 100%; 
   margin-bottom: 9%;
}




.headphones {
   justify-content: flex-end;
   position: relative;
   margin-top: 30px;
   height: 165px;
   width: 100%;
   border-radius: 0.5rem;
}

.headphonesImage {
   position: relative;
   z-index: 9998;
   bottom: 50px;
   height: 140px;
}

.headphones h6 {
   position: absolute;
   bottom: 45px;
   z-index: 9998;
}

.headphones button {
   position: relative;
   bottom: 10px;
   z-index: 9998;
}


.speakers {
   justify-content: flex-end;
   position: relative;
   margin-top: 30px;
   height: 165px;
   border-radius: 0.5rem;
}

.speakersImage {
   position: relative;
   z-index: 9998;
   bottom: 50px;
   height: 135px;
}

.speakers h6 {
   position: absolute;
   bottom: 45px;
   z-index: 9998;
}

.speakers button {
   position: relative;
   bottom: 10px;
   z-index: 9998;
}




.earphones {
   justify-content: flex-end;
   position: relative;
   margin-top: 30px;
   height: 165px;
   border-radius: 0.5rem;
}

.earphonesCase {
   position: relative;
   z-index: 9997;
   height: 140px;
   bottom: 40px;
}

.earphones h6 {
   position: absolute;
   bottom: 45px;
   z-index: 9998;
}

.earphones button {
   position: relative;
   bottom: 10px;
   z-index: 9998;
}


@media (min-width: 768px) {
    .logo {
      position: fixed;
      left: 80px;
  }
}

@media (min-width: 1440px) {
  .burger {
      display: none;
  }

  .logo {
    position: static;
  }

  .cart {
      /* position: fixed;
      right: 50px; */
  }

  .navBar ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
  }

  li:hover {
    color: var(--clr-dark-coral);
    cursor: pointer;
  }
}  