@import '../vars.css';



.navBar {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 90px;
    background-color: var(--clr-first-black);
    padding: 2rem 2.5rem;
}

.navBar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar ul {
    display: none;
}


.logo {
  cursor: pointer;
}


@media (min-width: 768px) {
    .logo {
      position: fixed;
      left: 80px;
  }
}

@media (min-width: 1440px) {

  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBar__nav {
    position: fixed;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .burger {
      display: none;
  }

  .logo {
    position: static;
  }

  .navBar ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
  }

  li:hover {
    color: var(--clr-dark-coral);
    cursor: pointer;
  }
}

