@import '../vars.css';



.navBar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 90px;
    background-color: var(--clr-first-black);
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navBar ul {
    display: none;
}


.dropdown {
    display: flex;
    justify-content: center;
    gap: 2rem;

    position: relative;
    top: 90px;
    background-color: var(--clr-white);
    width: 100%;
    
}

.dummyObject {
    height: 250px;
    width: 150px;

    background-color: var(--clr-dark-grey);
}






@media (min-width: 768px) {
    .logo {
      position: fixed;
      left: 80px;
  }
}

@media (min-width: 1440px) {
  .burger {
      display: none;
  }

  .logo {
    position: static;
  }

  .cart {
      /* position: fixed;
      right: 50px; */
  }

  .navBar ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
  }

  li:hover {
    color: var(--clr-dark-coral);
    cursor: pointer;
  }
}  