.inputGroup {
    display: flex;
    align-items: center;
    

    
    max-width: fit-content;
    background-color: var(--clr-dark-grey);
}

.numBtn {
    border: none;
    background-color: var(--clr-dark-grey);
    color: gray;
    margin: 0 15px;
}

.formGroup__input {
    border: none;
    height: 48px;
    background-color: var(--clr-dark-grey);
    width: 15px;
    
}