

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}







h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--clr-white);
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--clr-first-black);
  line-height: 38.25px;
  letter-spacing: 2px;    
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
}

.overline {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 19px;
  font-weight: var(--fw-regular);
  color: var(--clr-dark-grey);
}


.subtitle {
  font-size: 13px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 1px;
}


body {
  font-family: var(--ff-base);
  font-size: 15px;
  font-weight: var(--fw-regular);
  line-height: 25px;
  color: var(--clr-dark-grey);
}

/* Tablet */

@media (min-width: 768px) {


  main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.5rem;
    
  }


  h3 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.15px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 15px;
    letter-spacing: 1.07px;
    text-transform: uppercase;
  }

 

  
}


/* Mobile */

@media (max-width: 767px) {

  main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
    text-transform: uppercase;
    color: var(--clr-white);
  }

  h2 {
    font-size: 28px;
    line-height: 38.25px;
  }

  h3 {
    font-size: 24px;
    letter-spacing: 0.86px;
    line-height: 36px;
  }

/* is this right? or does h6 stay the same always */
  h6 {
    font-size: 15px;
    letter-spacing: 1.07px;
    text-transform: uppercase;
  }

}











/* Utilities */

main {
  padding: 0 12vw;
}

.flex_group {
  display: flex;
}

.flex_group_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  border-radius: 1rem;
  /* margin: 1.5rem; */
}
   
.bG_grey {
  background-color: var(--clr-dark-grey);
}

.bG_coral {
  background-color: var(--clr-dark-coral);
}

/* body text styles */

.black50 {
  color: var(--clr-second-black);
  opacity: 50%;
}

.black {
  color: var(--clr-second-black);
}

.white75 {
  color: var(--clr-white);
  opacity: 75%;
}

.white50 {
  color: var(--clr-white);
  opacity: 50%;
}

.coral {
  color: var(--clr-dark-coral)
}

/* overline text styles */

